body {
  background: #fae2ad;
  font-family: 'Roboto Condensed', sans-serif;
}

h4 {
  font-weight: bold;
  color: white;
}

p.lead {
  padding: 5px;
}

a.links {
  text-decoration: none;
  color: white;
}

nav.navbar {
  background: #fae2ad;
  font-size: 20px;
  font-weight: bold;
}

a.dropdown-item, div.dropdown-menu {
  background: #f26262;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

span.d-block {
  background: #f26262;
  color: white;
}

span.d-block a {
  color: white;
  text-decoration: none;
}

a, a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #f26262;
}

div.jumbotron {
  margin-bottom: 0;
}

div.second {
  background: #fae2ad;
}

div.thnds {
  background-image: url('media/universe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

div.logos {
  background: #254860;
}

div.darker{
  color: black;
}

button.btn-mine {
  background: black;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

button.btn-mine:hover {
  color: white;
  text-decoration: none;
}
